---
const {
  eyebrow,
  title,
  description,
  compact = false
} = Astro.props;
---

<section
  class:list={[
    'page-hero',
    {
      'page-hero--compact': compact
    }
  ]}
>
  <div class="container">
    <p class="eyebrow">{eyebrow}</p>
    <h1>{title}</h1>

    {
      description && (
        <p class="lead">{description}</p>
      )
    }

    <slot />
  </div>
</section>